@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
 

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
   }

   :root {
    font-size: 22px;
    line-height: 1.6;
    scroll-behavior: smooth;
   }

   @media (max-width: 1400px) {
    :root {
    font-size: 18px;
    }
   }

   body {
    font-family: Roboto, sans-serif;
   }

   img {
    width: 100%;
    height: auto;
    display: block;
   }

   header {
    height: 100vh;
    background-image: url(https://picsum.photos/id/668/1000/800);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
   }

   header h1 {
    color: #fff;
    font-size: 4rem;
    font-weight: 900;
    text-shadow: 4px 4px 18px rgba(0, 0, 0, .2);
    text-align: center;
    line-height: 1.1;
   }

   @media (max-width: 600px) {
    header h1 {
    font-size: 3rem;
    }
   }
   
   #intro {
    padding: 4rem;
    background-color: #333;
   }

   @media (max-width: 600px) {
    #intro {
    padding: 2rem;
    }
   }

   #intro>div {
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    gap: 4rem;
   }

   #intro>div>div {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 120px;
   }

   #intro>div>div>h2 {
    font-size: 1rem;
    margin-bottom: 1rem;
    color: #fff;
   }

   @media (max-width: 800px) {
    #intro>div {
    flex-direction: column;
    gap: 2rem;
    }
   }

   #articles {
    background: #eee;
    padding: 0 4rem;
    overflow: auto;
   }

   #articles>article {
    display: flex;
    gap: 4rem;
    max-width: 1200px;
    margin: 4rem auto;
   }

   #articles>article:nth-child(even) {
    flex-direction: row-reverse;
   }

   #articles>article>div:first-child {
    flex-shrink: 1;
    flex-basis: 18rem;
   }

   #articles>article>div:last-child {
    flex-grow: 1;
    flex-basis: 0;
   }

   #articles h1 {
    margin-bottom: 1rem;
    font-weight: 900;
   }

   @media (max-width: 840px) {
    #articles>article {
    display: block;
    }
    #articles>article>div:first-child {
    margin-bottom: 1rem;
    }
   }
   @media (max-width: 600px) {
    #articles {
    padding: 0 2rem;
    }
    #articles>article {
    margin: 2rem auto;
    }
   }
   
   footer {
    background-color: #333;
    padding: 4rem;
    overflow: hidden;
   }

   footer h2 {
    text-transform: uppercase;
    color: #fff;
    font-size: 1.2rem;
    margin-bottom: 2rem;
    text-align: center;
    letter-spacing: 0.1rem;
   }

   footer ul {
    list-style-type: none;
    display: flex;
    gap: 4rem;
    max-width: 1200px;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
   }

   footer img {
    max-width: 50px;
   }

   
.icon {
    display: block;
    max-width: 50px;
    transition: all 0.3s ease-out;
}

.icon path {
    fill: #fff;
    transition: all 0.3 ease-out;
}

.icon:hover {
    transform: scale(1.4);
}

.icon:hover path#facebook {
    fill: #1877f2
}

.icon:hover path#instagram {
    fill: url(#ig);
}

.icon:hover #tiktok {
    /* fill: #E62A58 */
    fill: url(#tktk);
}


.icon:hover #youtube {
    fill: #FF0000;
}

.icon:hover path#linkedin {
    fill:  #0762C8;
}

.icon:hover path#flickr {
    fill: url(#flick)
}

    footer h2:hover {
        color: gray;
        transform: scale(1.4);
    }

    footer h2 {
        transition: color 0.3s ease-out, transform 0.3s ease-out;
    }

   @media (max-width: 600px) {
    footer ul {
    flex-direction: column;
    gap: 2rem;
    }
   }

